html,body{
	height:100%;
	width:100%;
}
.mask,.mask2{
	position:fixed;
	top:0;
	left:0;
	height:100%;
	width:100%;
	background:rgba(241,241,241,0.8);
	display:none;
	form{
		height:620px;
		width:330px;
		position:absolute;
		top:50%;
		left:50%;
		margin-top:-300px;
		margin-left:-165px;
		background:#fff;
		border:1px solid #ddd;
		padding:50px 15px 30px;
		.masktit{
			position:absolute;
			top:5px;
			left:5px;
			background:#e0e0e0;
			height:40px;
			width:320px;
			span{
				line-height:40px;
				font-size: 16px;
				font-weight:800;
				color:#444;
				float:left;
				margin-left:10px;
			}
			button{
				float:right;
				margin-right:10px;
				height:30px;
				margin-top: 5px;
			}
		}
		.btnbc,.btnedi{
			float:right;
		}
	}
}