@function num($n){
	@return $n/20;
}
html,body{
	height:100%;
	width:100%;
	font-size:20px;
	// box-sizing:border-box;
	// border:num(3rem) solid #f6f6f6;
}
*{
	padding:0;
	margin:0;
}
a{
	text-decoration:none;
}
.a1{
	height:num(37rem);
	width:(numm320rem);
	background:#fafafa;
	border-bottom:nume(1rem) solid #c9c7c8;
	margin-bottom:num(20rem);
	a{
		float:left;
		font-family:"iconfont";
		font-size:num(14rem);
		color:#929292;
		margin-left:num(15rem);
		line-height:num(37rem);
	}
	p{
		font-size:num(14rem);
		color:#5e5e5e;
		margin-left:num(124rem);
		line-height:num(37rem);
	}
}
.a2{
	width:100%;
	font-size:num(12rem);
	color:#999;
	text-align:center;
	line-height:num(32rem);
}
.a3{
	display:flex;
	flex-direction:row;
	margin-left:num(115rem);
	margin-top:num(15rem);
	.a3b1{
		width:num(88rem);
		float:left;
		position:relative;
		b{
			float:left;
			font-size:num(21rem);
			color:#333;
			line-height:num(30rem);
		}
		span{
			float:right;
			font-size:num(16rem);
			color:#999;
			line-height:num(30rem)
		}
	}
	a{
		float:right;
		position:absolute;
		right:num(5rem);
		font-size:num(16rem);
		color:#999;
		line-height:num(30rem)
	}
}
.a4{
	height:num(56rem);
	width:num(294rem);
	margin-top:num(18rem);
	margin-left:num(13rem);
	border-bottom:num(1rem) solid #ededed;
	font-size:num(11rem);
	color:#999;
	text-align:center;
	position:relative;
	input{
		outline:none;
		border:none;
		font-size:num(20rem);
		color:#ededed;
		text-align:center;
		background:#fff;
		margin-top:num(8rem);
		&::-webkit-input-placeholder{
			color:#ededed;
		}
		&:focus{
			color:#000;
		}
	}
	span{
			float:right;
			height:num(30rem);
			width:30%;
			background:#fff;
			font-size:num(12rem);
			color:#ff6885;
			line-height:num(30rem);
			position:absolute;
			bottom:num(-2rem);
			right:0;
	}
}
.a5{
	margin-top:num(22rem);
	margin-left:num(13rem);
	input{
		height:num(42rem);
		width:num(294rem);
		background:#ff1877;
		color:#fff;
		font-size:num(13rem);
		line-height:num(42rem);
		text-align:center;
		border:none;
		outline:none;
	}
}
.a6{
	margin-top:num(17rem);
	margin-left:num(13rem);
	width:num(294rem);
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	a{
		font-size:num(11rem);
		color:#ff5777;
	}
}
.QQ{
	float:left;
	height:num(90rem);
	width:num(90rem);
	border-radius:50%;
	background:#0598e2;
	margin-top:num(84rem);
	margin-left:num(115rem);
	position:relative;
	p{
		width:100%;
		text-align:center;
		line-height:num(36rem);
		font-size:num(26rem);
		font-family:"iconfont";
		padding-top:num(25rem);
		color:#fff;
	}
	span{
		font-size:num(10rem);
		color:#fff;
		position:absolute;
		left:num(25rem);
		top:num(58rem);
	}
}